img.flex-left {
    object-fit: contain;
    max-width: 100%;
}

span {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding-top: 2%;
}

span p {
    position: relative;
    float: right;
    margin-top: 20px;
}

.column-1 {
    display: flex;
}

.column-2 {
    padding: 3em;
}
.row {
    -webkit-columns: 2 320px;
    -moz-columns: 2 320px;
    columns: 2 320px;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

 @media screen and (max-width: 660px) {
    .footer {
        position: fixed;
        left: 0;
        right: 0;
        width: 50%;
        text-align: center;
        background-color: green;
        display: none;
        object-position: center;
    }
}


.details {
    display: inline-block;
    margin-top: -20px;
    vertical-align: middle;
    margin-bottom: 3em;
}

.author-img{
    display: inline-block;
    position: relative;
    border-radius: 100px;
    width: 75px;
}

p {
    float: right;
}

.attribution {
    padding-top: 25px;
}