

body {
    padding: 1rem;
}

@media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-s-12 {width: 100%;}
  }

@media only screen and (min-width: 884px) {
    /* For desktop: */
    .col-4 {width: 33.33%;}
    .col-8 {width: 66.66%;}
    
    img {
        width: 50%;
    }

    .footer {
        background-color: darkblue;
        bottom: 0;
        display: none;
        left: 0;
        position: fixed;
        width: 100%;
    }
  }

img {
    width: 85%;
}

img.author {
    max-width: 100px;
    border-radius: 50px;
    display: flex;
}

h1 {
    padding-top: 2rem;
}

span {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.aside {
    padding: 15px;
    text-align: center;
}

.aside img {
    margin-top: 15px;
}

.author {
    justify-content: left;
    display: flex;
}

.details {
    justify-content: center;
    line-height: 5px;
    padding: 20px;
}

.share {
    display: flex;
    justify-content: right;
    padding-left: 50%;
    position: relative;
}